In [1]:
import pathlib
import os, sys
import math
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import utils_vepat as utiv
import pcal_vepat as pcals





#dirDat = pathlib.Path('/home/sapthala/Projects19_20/VEPAT/From_Natalia')

In [4]:
#dir = input("Select missile direction:1.above, 2. side, 3. geometric mean):")
phit = pcals.risk_cal.from_input()
xx=phit.phit_cal()

Select missile direction from - above / side / geometric:geometric

In [5]:
xx

   Bdia  Pdia  Sqln  Area  Phit_abv  Phit_side     Gmean     P_hit
0   0.2     1    30   900  0.005027   0.040000  0.014180  0.014180
1   0.3     1    30   900  0.005899   0.043333  0.015989  0.015989
2   0.4     1    30   900  0.006842   0.046667  0.017868  0.017868

In [6]:
xx.loc[xx['Bdia']== 0.3, 'P_hit']

1    0.015989
Name: P_hit, dtype: float64

In [5]:
phit.data

   Bdia  Pdia  Sqln  Area  Phit_abv  Phit_side     Gmean     P_hit
0   0.2     1    30   900  0.005027   0.040000  0.014180  0.014180
1   0.3     1    30   900  0.005899   0.043333  0.015989  0.015989
2   0.4     1    30   900  0.006842   0.046667  0.017868  0.017868

In [4]:
from scipy.stats.mstats import gmean

In [2]:
#workbook = load_workbook(filename= dirDat/"2020 Whakaari White Island risk calculation.xlsx")

In [6]:
d ={'Person': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
    'Best guess': [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3],
    'Best guess rep': [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3],
    'Min': [0.05, 0.05, 0.05, 0.05, 0.11, 0.05, 0.1, 0.13, 0.1, 0.05],
    'Max': [0.2, 0.25, 0.25, 0.4, 0.25, 0.4, 0.4, 0.4, 0.4, 0.6]}

inval = pd.DataFrame(data = d)
inval

   Person  Best guess  Best guess rep   Min   Max
0       1        0.10            0.10  0.05  0.20
1       2        0.15            0.15  0.05  0.25
2       3        0.15            0.15  0.05  0.25
3       4        0.15            0.15  0.05  0.40
4       5        0.18            0.18  0.11  0.25
5       6        0.20            0.20  0.05  0.40
6       7        0.20            0.20  0.10  0.40
7       8        0.20            0.20  0.13  0.40
8       9        0.25            0.25  0.10  0.40
9      10        0.30            0.30  0.05  0.60

In [7]:

pNo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
bestG = [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3]
minG = [0.05, 0.05, 0.05, 0.05, 0.11, 0.05, 0.1, 0.13, 0.1, 0.05]
maxG = [0.2, 0.25, 0.25, 0.4, 0.25, 0.4, 0.4, 0.4, 0.4, 0.6]

    
d1 ={'Person': pNo, 
    'Best guess': bestG,
    'Best guess rp': bestG,
    'Min': minG,
    'Max': maxG}
dfd = pd.DataFrame(data = d1)

#d2 = dfd['Best guess'].append(dfd['Best guess rp']).reset_index(drop=True)

dfd['Error low'] = dfd['Best guess'] - dfd['Min']
dfd['Error high'] = dfd['Max'] - dfd['Best guess']

dfd

   Person  Best guess  Best guess rp   Min   Max  Error low  Error high
0       1        0.10           0.10  0.05  0.20       0.05        0.10
1       2        0.15           0.15  0.05  0.25       0.10        0.10
2       3        0.15           0.15  0.05  0.25       0.10        0.10
3       4        0.15           0.15  0.05  0.40       0.10        0.25
4       5        0.18           0.18  0.11  0.25       0.07        0.07
5       6        0.20           0.20  0.05  0.40       0.15        0.20
6       7        0.20           0.20  0.10  0.40       0.10        0.20
7       8        0.20           0.20  0.13  0.40       0.07        0.20
8       9        0.25           0.25  0.10  0.40       0.15        0.15
9      10        0.30           0.30  0.05  0.60       0.25        0.30

In [8]:
import pandas as pd
df2 = pd.concat(dfd[c] for c in ['Best guess','Best guess rp','Min','Max']).reset_index(drop=True)

In [7]:
df2

0     0.10
1     0.15
2     0.15
3     0.15
4     0.18
5     0.20
6     0.20
7     0.20
8     0.25
9     0.30
10    0.10
11    0.15
12    0.15
13    0.15
14    0.18
15    0.20
16    0.20
17    0.20
18    0.25
19    0.30
20    0.05
21    0.05
22    0.05
23    0.05
24    0.11
25    0.05
26    0.10
27    0.13
28    0.10
29    0.05
30    0.20
31    0.25
32    0.25
33    0.40
34    0.25
35    0.40
36    0.40
37    0.40
38    0.40
39    0.60
dtype: float64

In [9]:
mean_bestG = dfd['Best guess'].mean()
median_bestG = dfd['Best guess'].median()
#qntl_bestG = dfd['Best guess'].quantile(0.84) #84th percentile
#pcntl_bestG = np.percentile(dfd['Best guess'].values, 84)
pcntl_bestG = np.percentile(df2.values, 84)


mean_min = dfd['Min'].mean()
median_min = dfd['Min'].median()

mean_max = dfd['Max'].mean()
median_max = dfd['Max'].median()

d2 = {'Stat': ['Mean', 'Median', '84th percentile'],
     'Best Guess': [mean_bestG, median_bestG, pcntl_bestG ],
     'Min': [mean_min, median_min, ""], 
     'Max': [mean_max, median_max, ""]}
d1_stat = pd.DataFrame(data = d2)
d1_stat

              Stat  Best Guess    Min    Max
0             Mean       0.188  0.074  0.355
1           Median       0.190   0.05    0.4
2  84th percentile       0.300

In [10]:
df1 = utiv.table_vpt('pNo', 'bestG', 'Best_guessR', 'minG', 'maxG')
df1

   Person  Best guess  Best guess rep   Min   Max  Error low  Error high
0       1        0.10            0.10  0.05  0.20       0.05        0.10
1       2        0.15            0.15  0.05  0.25       0.10        0.10
2       3        0.15            0.15  0.05  0.25       0.10        0.10
3       4        0.15            0.15  0.05  0.40       0.10        0.25
4       5        0.18            0.18  0.11  0.25       0.07        0.07
5       6        0.20            0.20  0.05  0.40       0.15        0.20
6       7        0.20            0.20  0.10  0.40       0.10        0.20
7       8        0.20            0.20  0.13  0.40       0.07        0.20
8       9        0.25            0.25  0.10  0.40       0.15        0.15
9      10        0.30            0.30  0.05  0.60       0.25        0.30

In [11]:
#84th percantile calculation in the excel is wrong!!!! talk to natalia
df2 = utiv.table_stat_vpt(df1)
df2

              Stat  Best Guess    Min    Max
0             Mean       0.188  0.074  0.355
1           Median       0.190   0.05    0.4
2  84th percentile       0.300

In [12]:
elc = float(input("Elecitation: "))
du = 4
print("Duration:", du)

p_erup = df2.iloc[2]['Best Guess'] #P(eruption in period):
p_Nerup = 1 - p_erup #P(no erupt. in period):
    
if elc > 0:
    B6 = elc
else:
    if du > 0:
        B6 = du*7
    else:
        B6 = -1
            
if B6 > 0:
    B7 = B6*24 #days
else:
    B7 = -1 #hours

p_Neruphr = math.pow(p_Nerup, 1/B7)
p_eruphr = 1 - p_Neruphr
p_lrgeruphr = p_eruphr/100
p_mderuphr = (p_eruphr/10) - p_lrgeruphr
p_smleruphr = p_eruphr - p_mderuphr - p_lrgeruphr


    
erp_cls = {
              "P(eruption in period)": p_erup, 
              "P(no erupt. in period)": p_Nerup,
              "P(no eruption in hr)": round(p_Neruphr, 3),
              "P(eruption in hr)": round(p_eruphr, 4),
              "P(small eruption in hr)": round(p_smleruphr, 4),
              "P(moderate eruption in hr)": round(p_mderuphr,5),
              "P(large eruption in hr)": round(p_lrgeruphr,6)
    }
print(erp_cls)

Elecitation: 1
Duration: 4
{'P(eruption in period)': 0.3, 'P(no erupt. in period)': 0.7, 'P(no eruption in hr)': 0.985, 'P(eruption in hr)': 0.0148, 'P(small eruption in hr)': 0.0133, 'P(moderate eruption in hr)': 0.00133, 'P(large eruption in hr)': 0.000148}

In [15]:
elc = float(input("Elecitation: "))
du = 4
print("Duration:", du)

erupClas = utiv.cal_vpt(df1,df2,elc,du)

Elecitation: 1
Duration: 4

In [16]:
erupClas

{'P(eruption in period)': 0.3,
 'P(no erupt. in period)': 0.7,
 'P(no eruption in hr)': 0.985,
 'P(eruption in hr)': 0.0148,
 'P(small eruption in hr)': 0.0133,
 'P(moderate eruption in hr)': 0.00133,
 'P(large eruption in hr)': 0.000148}

In [17]:
P_small = erupClas.get("P(small eruption in hr)", "")
print(P_small)

0.0133

In [3]:
import pathlib
import os, sys
import numpy as np
import pandas as pd
import math
from openpyxl import load_workbook
import utils_vepat as utiv
import pcal_vepat as pcals

#dirDat = pathlib.Path('/home/sapthala/Projects19_20/VEPAT/From_Natalia')
"""
configure this according to the input data maybe store as a dataframe

utive.excel_vpat(dirDat/'path the input datafram')

d ={'Person': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
    'Best guess': [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3],
    'Min': [0.05, 0.05, 0.05, 0.05, 0.11, 0.05, 0.1, 0.13, 0.1, 0.05],
    'Max': [0.2, 0.25, 0.25, 0.4, 0.25, 0.4, 0.4, 0.4, 0.4, 0.6]}
"""
########Elicitation inputs###
elc = int(input("Elecitation: "))
du = 4
print("Duration:", du)

################

#create table based on the inputs
df1 = utiv.table_vpt('pNo', 'bestG', 'Best_guessR', 'minG', 'maxG')

#calculate stats based on the table
df2 = utiv.table_stat_vpt(df1)

#calculations for plotting and other, calculations from this function saved as a dictionary
erp_cals = utiv.cal_vpt(df1,df2,elc,du)

# P of death from one ballistic depending on the size and direction
phit = pcals.risk_cal.from_input().erp_cals
phit_tbl = phit.phit_cal()

Elecitation: 1
Duration: 4
Select missile direction from - above / side / geometric:geometric

TypeError: __init__() missing 1 required positional argument: 'dct1'

In [5]:
utiv.get_p_hourly(erp_cals)[0]

0.0133

In [2]:
phit.data

   Bdia  Pdia  Sqln  Area  Phit_abv  Phit_side     Gmean     P_hit
0   0.2     1    30   900  0.005027   0.040000  0.014180  0.014180
1   0.3     1    30   900  0.005899   0.043333  0.015989  0.015989
2   0.4     1    30   900  0.006842   0.046667  0.017868  0.017868

In [9]:
phit.data[['Bdia', 'P_hit']]

   Bdia     P_hit
0   0.2  0.014180
1   0.3  0.015989
2   0.4  0.017868

In [9]:
erp_cals

{'P(eruption in period)': 0.3,
 'P(no erupt. in period)': 0.7,
 'P(no eruption in hr)': 0.985,
 'P(eruption in hr)': 0.0148,
 'P(small eruption in hr)': 0.0133,
 'P(moderate eruption in hr)': 0.00133,
 'P(large eruption in hr)': 0.000148}

In [3]:
utiv.table_near_vent_proc(erp_cals)

,Eruption size,P(hourly),"P(given eruption, exposure to near vent processes)","P(given exposure, death from near vent processes)","P(given eruption, death from near vent processes)",P(death from near vent processes in hr)
0,Small,0.013300,0.0,0.9,0.00,0.000000
1,Moderate,0.001330,0.1,0.9,0.09,0.000120
2,Large,0.000148,1.0,1.0,1.00,0.000148

In [8]:
erp_cals

{'P(eruption in period)': 0.3,
 'P(no erupt. in period)': 0.7,
 'P(no eruption in hr)': 0.985,
 'P(eruption in hr)': 0.0148,
 'P(small eruption in hr)': 0.0133,
 'P(moderate eruption in hr)': 0.00133,
 'P(large eruption in hr)': 0.000148}

In [1]:
import pathlib
import os, sys
import numpy as np
import pandas as pd
import math
from openpyxl import load_workbook
import utils_vepat as utiv
import pcal_vepat as pcals

#dirDat = pathlib.Path('/home/sapthala/Projects19_20/VEPAT/From_Natalia')
"""
configure this according to the input data maybe store as a dataframe

utive.excel_vpat(dirDat/'path the input datafram')

d ={'Person': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
    'Best guess': [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3],
    'Min': [0.05, 0.05, 0.05, 0.05, 0.11, 0.05, 0.1, 0.13, 0.1, 0.05],
    'Max': [0.2, 0.25, 0.25, 0.4, 0.25, 0.4, 0.4, 0.4, 0.4, 0.6]}
"""
########Elicitation inputs###
elc = int(input("Elecitation: "))
du = 4
print("Duration:", du)

################

#create table based on the inputs
df1 = utiv.table_vpt('pNo', 'bestG', 'Best_guessR', 'minG', 'maxG')

#calculate stats based on the table
df2 = utiv.table_stat_vpt(df1)

#calculations for plotting and other, calculations from this function saved as a dictionary
erp_cals = utiv.cal_vpt(df1,df2,elc,du)

#Table: Near Vent Processes
near_vent = utiv.table_near_vent_proc(erp_cals)

# P of death from one ballistics: tables & calculations
phit = pcals.risk_cal.from_input()
df1 = utiv.table_phit()
phit.load_dfs(df1, df2=None)

#Tables of Death from one ballistic: 0.2 m/0.3/0.4
phit_tbl = phit.phit_cal()

#ballistics 100m table for statnadrd, adjusted
df100 = utiv.ballistics_100m(erp_cals)
phit.load_dfs(df1, df100)
ball_100m = phit.ballis_cal()

#ballistics 350m table for statnadrd, adjusted
df350 = utiv.ballistics_350m(erp_cals)
phit.load_dfs(df1, df350)
ball_350m = phit.ballis_cal()


#ballistics 750m table for statnadrd, adjusted
df750 = utiv.ballistics_750m(erp_cals)
phit.load_dfs(df1, df750)
ball_750m = phit.ballis_cal()

#generate all the surge tables (9 tables)
df1_srg100strd, df1_srg350strd, df1_srg750strd, df1_srg100adjc, df1_srg350adjc, \
df1_srg750adjc, df1_srg100adjh, df1_srg350adjh, df1_srg750adjh = utiv.table_surge(erp_cals)

Elecitation: 1
Duration: 4
Select missile direction from - above / side / geometric:geometric

In [10]:
df1_srg750adjh

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,0.00,0.95,0.0000,0.000000
1,Moderate,0.001330,0.05,0.95,0.0475,0.000063
2,Large,0.000148,1.00,0.95,0.9500,0.000141

In [9]:
df1_srg350adjh

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,0.0,0.95,0.000,0.000000
1,Moderate,0.001330,0.3,0.95,0.285,0.000379
2,Large,0.000148,1.0,1.00,1.000,0.000148

In [8]:
df1_srg100adjh

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,1,0.95,0.95,0.012635
1,Moderate,0.001330,1,1.00,1.00,0.001330
2,Large,0.000148,1,1.00,1.00,0.000148

In [7]:
df1_srg750adjc

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,0,0.95,0.00,0.000000
1,Moderate,0.001330,1,0.95,0.95,0.001263
2,Large,0.000148,1,0.95,0.95,0.000141

In [6]:
df1_srg350adjc

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,0.5,0.95,0.475,0.006317
1,Moderate,0.001330,1.0,0.95,0.950,0.001263
2,Large,0.000148,1.0,1.00,1.000,0.000148

In [5]:
df1_srg100adjc

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,1,0.95,0.95,0.012635
1,Moderate,0.001330,1,1.00,1.00,0.001330
2,Large,0.000148,1,1.00,1.00,0.000148

In [2]:
df1_srg100strd

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,0.01,0.95,0.0095,0.000126
1,Moderate,0.001330,0.30,1.00,0.3000,0.000399
2,Large,0.000148,0.40,1.00,0.4000,0.000059

In [3]:
df1_srg350strd

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,0.0,0.95,0.000,0.000000
1,Moderate,0.001330,0.3,0.95,0.285,0.000379
2,Large,0.000148,0.4,1.00,0.400,0.000059

In [4]:
df1_srg750strd

,Eruption size,P(hourly),"P(given eruption, exposure to surge)","P(given exposure, death from surge)","P(given eruption, death from surge)",P(death from surge in hr)
0,Small,0.013300,0.0,0.95,0.00,0.000000
1,Moderate,0.001330,0.2,0.95,0.19,0.000253
2,Large,0.000148,0.4,0.95,0.38,0.000056

In [3]:
near_vent

,Eruption size,P(hourly),"P(given eruption, exposure to near vent processes)","P(given exposure, death from near vent processes)","P(given eruption, death from near vent processes)",P(death from near vent processes in hr)
0,Small,0.013300,0.0,0.9,0.00,0.000000
1,Moderate,0.001330,0.1,0.9,0.09,0.000120
2,Large,0.000148,1.0,1.0,1.00,0.000148

In [3]:
ball_750m

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area","P(given eruption, death from ballistics)",P(death from ballistics in hr)
0,Small,0.013300,0.0,0,0.000000,0.000000
1,Moderate,0.001330,0.2,5,0.068916,0.000092
2,Large,0.000148,0.3,10,0.148859,0.000022

In [2]:
ball_350m

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area","P(given eruption, death from ballistics)",P(death from ballistics in hr)
0,Small,0.013300,0.2,0.1,0.001427,0.000019
1,Moderate,0.001330,0.3,10.0,0.148859,0.000198
2,Large,0.000148,0.3,100.0,0.800466,0.000118

In [3]:
ball_100m

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area","P(given eruption, death from ballistics)",P(death from ballistics in hr)
0,Small,0.013300,0.3,5,0.077427,0.001030
1,Moderate,0.001330,0.3,50,0.553308,0.000736
2,Large,0.000148,0.3,200,0.960186,0.000142

In [4]:
phit_tbl

,Boulder diameter (m),Person diameter (m),Square length (m),Area (m^2),P(hit) Above,P(hit) Side,P(hit) Geometric mean,P(hit)
0,0.2,1,30,900,0.005027,0.040000,0.014180,0.014180
1,0.3,1,30,900,0.005899,0.043333,0.015989,0.015989
2,0.4,1,30,900,0.006842,0.046667,0.017868,0.017868

In [11]:
phit.df1

   Bdia  Pdia  Sqln  Area  Phit_abv  Phit_side     Gmean     P_hit
0   0.2     1    30   900  0.005027   0.040000  0.014180  0.014180
1   0.3     1    30   900  0.005899   0.043333  0.015989  0.015989
2   0.4     1    30   900  0.006842   0.046667  0.017868  0.017868

In [8]:
df2

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area"
0,Small,0.013300,0.3,5
1,Moderate,0.001330,0.3,50
2,Large,0.000148,0.3,200

In [2]:
phit.dfb1

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area","P(given eruption, death from ballistics)",P(death from ballistics in hr)
0,Small,0.013300,0.3,5,0.077427,0.001030
1,Moderate,0.001330,0.3,50,0.553308,0.000736
2,Large,0.000148,0.3,200,0.960186,0.000142

In [4]:
phit.bpr

0      5
1     50
2    200
Name: Given eruption, # ballistics in reference area, dtype: int64

In [3]:
phit.dfb1

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area",P_hit,"P(given eruption, death from ballistics)",P(death from ballistics in hr)
0,Small,0.013300,0.3,5,0.015989,0.077427,0.001030
1,Moderate,0.001330,0.3,50,0.015989,0.553308,0.000736
2,Large,0.000148,0.3,200,0.015989,0.960186,0.000142

In [5]:
phit.df2

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area"
0,Small,0.013300,0.3,5
1,Moderate,0.001330,0.3,50
2,Large,0.000148,0.3,200

In [6]:
phit.df3

         P_hit
Bdia
0.2   0.014180
0.3   0.015989
0.4   0.017868

In [11]:
phit.df3.set_index('Bdia', inplace =True)

In [12]:
phit.df3

         P_hit
Bdia
0.2   0.014180
0.3   0.015989
0.4   0.017868

In [14]:
test = phit.df2.merge(
       phit.df3,
       left_on = 'Ballistic diameter (m)',
       right_index = True,
       how = 'left',
       sort = False
)

In [15]:
test

,Eruption size,P(hourly),Ballistic diameter (m),"Given eruption, # ballistics in reference area",P_hit
0,Small,0.013300,0.3,5,0.015989
1,Moderate,0.001330,0.3,50,0.015989
2,Large,0.000148,0.3,200,0.015989

In [3]:
df1 = pd.DataFrame({"A":[14, 4, 5, 4, 1], 
                    "B":[5, 2, 54, 3, 2], 
                    "C":[20, 20, 7, 3, 8], 
                    "D":[14, 3, 6, 2, 6]})

In [4]:
df1

    A   B   C   D
0  14   5  20  14
1   4   2  20   3
2   5  54   7   6
3   4   3   3   2
4   1   2   8   6

In [16]:
sr = df1['B']

In [17]:
sr

0     5
1     2
2    54
3     3
4     2
Name: B, dtype: int64

In [18]:
df1['E'] = df1['D'].pow(sr, axis = 0)

In [19]:
df1

    A   B   C   D                    E
0  14   5  20  14               537824
1   4   2  20   3                    9
2   5  54   7   6 -6467169064904032256
3   4   3   3   2                    8
4   1   2   8   6                   36