In [7]:
import pathlib
import os, sys
import math
import pandas as pd
import numpy as np
from openpyxl import load_workbook
import utils_vepat as utiv
import pcal_vepat as pcals





#dirDat = pathlib.Path('/home/sapthala/Projects19_20/VEPAT/From_Natalia')

In [8]:
#dir = input("Select missile direction:1.above, 2. side, 3. geometric mean):")
phit = pcals.risk_cal.from_input()
phit.phit_cal()

Select missile direction from - above / side / geometric:geomtric

In [9]:
phit.dr

'geomtric'

In [10]:
phit.data

   Bdia  Pdia  Sqln  Area  Phit_abv  Phit_side     Gmean     P_hit
0   0.2     1    30   900  0.005027   0.040000  0.014180  0.014180
1   0.3     1    30   900  0.005899   0.043333  0.015989  0.015989
2   0.4     1    30   900  0.006842   0.046667  0.017868  0.017868

In [4]:
from scipy.stats.mstats import gmean

In [2]:
#workbook = load_workbook(filename= dirDat/"2020 Whakaari White Island risk calculation.xlsx")

In [4]:
d ={'Person': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], 
    'Best guess': [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3],
    'Best guess rep': [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3],
    'Min': [0.05, 0.05, 0.05, 0.05, 0.11, 0.05, 0.1, 0.13, 0.1, 0.05],
    'Max': [0.2, 0.25, 0.25, 0.4, 0.25, 0.4, 0.4, 0.4, 0.4, 0.6]}

inval = pd.DataFrame(data = d)
inval

   Person  Best guess  Best guess rep   Min   Max
0       1        0.10            0.10  0.05  0.20
1       2        0.15            0.15  0.05  0.25
2       3        0.15            0.15  0.05  0.25
3       4        0.15            0.15  0.05  0.40
4       5        0.18            0.18  0.11  0.25
5       6        0.20            0.20  0.05  0.40
6       7        0.20            0.20  0.10  0.40
7       8        0.20            0.20  0.13  0.40
8       9        0.25            0.25  0.10  0.40
9      10        0.30            0.30  0.05  0.60

In [5]:

pNo = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
bestG = [0.1, 0.15, 0.15, 0.15, 0.18, 0.2, 0.2, 0.2, 0.25, 0.3]
minG = [0.05, 0.05, 0.05, 0.05, 0.11, 0.05, 0.1, 0.13, 0.1, 0.05]
maxG = [0.2, 0.25, 0.25, 0.4, 0.25, 0.4, 0.4, 0.4, 0.4, 0.6]

    
d1 ={'Person': pNo, 
    'Best guess': bestG,
    'Best guess rp': bestG,
    'Min': minG,
    'Max': maxG}
dfd = pd.DataFrame(data = d1)

#d2 = dfd['Best guess'].append(dfd['Best guess rp']).reset_index(drop=True)

dfd['Error low'] = dfd['Best guess'] - dfd['Min']
dfd['Error high'] = dfd['Max'] - dfd['Best guess']

dfd

   Person  Best guess  Best guess rp   Min   Max  Error low  Error high
0       1        0.10           0.10  0.05  0.20       0.05        0.10
1       2        0.15           0.15  0.05  0.25       0.10        0.10
2       3        0.15           0.15  0.05  0.25       0.10        0.10
3       4        0.15           0.15  0.05  0.40       0.10        0.25
4       5        0.18           0.18  0.11  0.25       0.07        0.07
5       6        0.20           0.20  0.05  0.40       0.15        0.20
6       7        0.20           0.20  0.10  0.40       0.10        0.20
7       8        0.20           0.20  0.13  0.40       0.07        0.20
8       9        0.25           0.25  0.10  0.40       0.15        0.15
9      10        0.30           0.30  0.05  0.60       0.25        0.30

In [6]:
import pandas as pd
df2 = pd.concat(dfd[c] for c in ['Best guess','Best guess rp','Min','Max']).reset_index(drop=True)

In [7]:
df2

0     0.10
1     0.15
2     0.15
3     0.15
4     0.18
5     0.20
6     0.20
7     0.20
8     0.25
9     0.30
10    0.10
11    0.15
12    0.15
13    0.15
14    0.18
15    0.20
16    0.20
17    0.20
18    0.25
19    0.30
20    0.05
21    0.05
22    0.05
23    0.05
24    0.11
25    0.05
26    0.10
27    0.13
28    0.10
29    0.05
30    0.20
31    0.25
32    0.25
33    0.40
34    0.25
35    0.40
36    0.40
37    0.40
38    0.40
39    0.60
dtype: float64

In [8]:
mean_bestG = dfd['Best guess'].mean()
median_bestG = dfd['Best guess'].median()
#qntl_bestG = dfd['Best guess'].quantile(0.84) #84th percentile
#pcntl_bestG = np.percentile(dfd['Best guess'].values, 84)
pcntl_bestG = np.percentile(df2.values, 84)


mean_min = dfd['Min'].mean()
median_min = dfd['Min'].median()

mean_max = dfd['Max'].mean()
median_max = dfd['Max'].median()

d2 = {'Stat': ['Mean', 'Median', '84th percentile'],
     'Best Guess': [mean_bestG, median_bestG, pcntl_bestG ],
     'Min': [mean_min, median_min, ""], 
     'Max': [mean_max, median_max, ""]}
d1_stat = pd.DataFrame(data = d2)
d1_stat

              Stat  Best Guess    Min    Max
0             Mean       0.188  0.074  0.355
1           Median       0.190   0.05    0.4
2  84th percentile       0.300

In [11]:
df1 = utiv.table_vpt('pNo', 'bestG', 'Best_guessR', 'minG', 'maxG')
df1

   Person  Best guess  Best guess rep   Min   Max  Error low  Error high
0       1        0.10            0.10  0.05  0.20       0.05        0.10
1       2        0.15            0.15  0.05  0.25       0.10        0.10
2       3        0.15            0.15  0.05  0.25       0.10        0.10
3       4        0.15            0.15  0.05  0.40       0.10        0.25
4       5        0.18            0.18  0.11  0.25       0.07        0.07
5       6        0.20            0.20  0.05  0.40       0.15        0.20
6       7        0.20            0.20  0.10  0.40       0.10        0.20
7       8        0.20            0.20  0.13  0.40       0.07        0.20
8       9        0.25            0.25  0.10  0.40       0.15        0.15
9      10        0.30            0.30  0.05  0.60       0.25        0.30

In [12]:
#84th percantile calculation in the excel is wrong!!!! talk to natalia
df2 = utiv.table_stat_vpt(df1)
df2

              Stat  Best Guess    Min    Max
0             Mean       0.188  0.074  0.355
1           Median       0.190   0.05    0.4
2  84th percentile       0.300

In [ ]:
elc = float(input("Elecitation: "))
du = 4
print("Duration:", du)

p_erup = df2.iloc[2]['Best Guess'] #P(eruption in period):
p_Nerup = 1 - p_erup #P(no erupt. in period):
    
if elc > 0:
    B6 = elc
else:
    if du > 0:
        B6 = du*7
    else:
        B6 = -1
            
if B6 > 0:
    B7 = B6*24 #days
else:
    B7 = -1 #hours

p_Neruphr = math.pow(p_Nerup, 1/B7)
p_eruphr = 1 - p_Neruphr
p_lrgeruphr = p_eruphr/100
p_mderuphr = (p_eruphr/10) - p_lrgeruphr
p_smleruphr = p_eruphr - p_mderuphr - p_lrgeruphr


    
erp_cls = {
              "P(eruption in period)": p_erup, 
              "P(no erupt. in period)": p_Nerup,
              "P(no eruption in hr)": round(p_Neruphr, 3),
              "P(eruption in hr)": round(p_eruphr, 4),
              "P(small eruption in hr)": round(p_smleruphr, 4),
              "P(moderate eruption in hr)": round(p_mderuphr,5),
              "P(large eruption in hr)": round(p_lrgeruphr,6)
    }
print(erp_cls)

In [13]:
elc = float(input("Elecitation: "))
du = 4
print("Duration:", du)

erupClas = utiv.cal_vpt(df1,df2,elc,du)

Elecitation: 1
Duration: 4

In [14]:
erupClas

{'P(eruption in period)': 0.3,
 'P(no erupt. in period)': 0.7,
 'P(no eruption in hr)': 0.985,
 'P(eruption in hr)': 0.0148,
 'P(small eruption in hr)': 0.0133,
 'P(moderate eruption in hr)': 0.00133,
 'P(large eruption in hr)': 0.000148}